.profile__user-caption {
  max-width: 300px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__user-caption {
    max-width: 228px;
    font-size: 14px;
    text-align: center;
  }
}
