.card__like-counter {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  height: 13px;
}
